@import '../tokens.scss';

.admin-container {
    display: flex;
    background: $neutral50;
    height: calc(100vh - 66px);
    width: 100vw;

    .menu-lateral {
        border-right: 1px solid $neutral200;
        background: white;
        height: 100%;
        width: 295px;
    }

    .dashboard-admin {
        padding: 16px 22px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        .cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(354px, 1fr));
            gap: 16px;         


            .card.empresa {
                border-top: 16px solid #743E00;            
                align-items: start;
            }
    
            .card {
                display: flex;
                width: 354px;
                height: 410px;
                padding: 60px 58px;
                flex-direction: column;
                align-items: center;
                gap: 42px;
                .h1 {
                    color: $secondary400;
                }
                .p1, .p2 {
                    color: $neutral600;
                }
            }
        }

    }

    .colaboradores-admin {
        max-height: calc(100vh - 66px);
        width: 100%;
        overflow: auto;
        padding: 16px 22px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .btn-actions {
            display: flex;
            gap: 16px;
        }
    }

}

.funcionario-container {
    display: flex;    
    height: calc(100vh - 66px);
    
    .card.perfil {
        margin: 16px 22px;
        display: flex;
        width: 275px;
        padding: 30px 16px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        height: max-content;

        .p1 {
            text-align: center;
        }

        .MuiAvatar-root {
            width: 102px;
            height: 102px;
        }

        .row-cargos {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
    }

    .formity-forms {
        .dados-funcionario {
            .inputContainer.cnpj {
                width: 50%;
            }
        }
    }
}