@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');

$roboto: 'Roboto';
$lato: 'Lato';

//Color Brand
//Primary
$primary700: #004640;
$primary600: #01655D;
$primary500: #01988C;
$primary400: #14B8AA;
$primary300: #2DD2C5;
$primary200: #85E0D9;
$primary100: #EDF8F7;

//Secondary
$secondary700: #722300;
$secondary600: #993000;
$secondary500: #CC5A00;
$secondary400: #FF7A11;
$secondary300: #FF9B4C;
$secondary200: #FFC699;
$secondary100: #FFF1E5;

//Neutral
$neutral50: #F6F8F9;
$neutral700: #2E3538;
$neutral600: #464F53;
$neutral500: #5D696F;
$neutral400: #74848B;
$neutral300: #A7B7BE;
$neutral200: #E0E7EB;
$neutral100: #F0F3F5;
$neutralwhite: #FFFFFF;

//Color System
//Green
$green500: #6B9539;
$green200: #E7F4D7;
$green50: #F5FAEF;

//Yellow 
$yellow600: #D69500;
$yellow500: #FFC43E;
$yellow200: #FFF0CD;
$yellow100: #FFF7E5;
$yellow50: #FFFAF0;

//Red
$red500: #E33838;
$red200: #F9D2D2;
$red100: #FCE9E9;
$red50: #FDF2F2;

/*:root {
    --containerColor: #fff;
    --backgroundColor: #F6F8F9;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

html.dark {
    --containerColor: #000000;
    --foreground-rgb: 255, 255, 255;
    --backgroundColor: #000000;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}*/
